body{
    font-family:sans-serif;
    font-size:1rem;
    font-weight:bold;
    color:black;
}

.item{
    background-color:cornflowerblue;    
    border:1px solid white;
    text-align:center;
    height:50px;
    line-height:50px;
}

.nested{
    background-color:white;
    border:1px solid cornflowerblue;
    height:20px;
    margin-top:15px;
    line-height:20px;
}


